In [282]:
#EXO 1 
import pandas as pd
df = pd.read_csv('mower_market_snapshot.csv', delimiter=";")
df

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614
...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,essence,Medium,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969

In [ ]:
#EXO 2
series = pd.Series([1,2,np.nan, 4])
series

df = pd.DataFrame(np.array([1,2,3,4,5,6]).reshape(2,3))
df

df = pd.DataFrame(np.array([1,2,3,4,5,6]).reshape(2,3),
columns=list('ABC'), index=list('XY'))
df

df.isnull()


df2 = df.copy() 
df2

df.drop_duplicates()

df.groupby('capacity').sum() 

df.tail(10)

df.head(10)

df.drop(columns=['capacity', 'id'])

df.drop([2, 1200])

df.filter(items=['capacity', 'id'])

df.get("id")

df.sort_index(ascending=False)

df.loc[:, 'product_type'] = "essence"
df

In [54]:
#EXO 3 
df['prod_cost'].describe()

count     1381
unique    1333
top          0
freq        20
Name: prod_cost, dtype: object

In [55]:
#Exo 4
null_columns=df.columns[df.isnull().any()]
df[null_columns].isnull().sum()

prod_cost    18
dtype: int64

In [315]:
#Exo 5 
values=df['prod_cost'].mean()
df['prod_cost'].apply(pd.to_numeric, errors='coerce')
df.fillna(value=values, inplace=True)
df

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness,auto-portee,electrique,essence
0,10.492623,0.042528,18377,633.766584,828.802103,195.035519,1,Low,3ans,0.006360,0.650648,1,0,0
1,20.273730,0.037896,19363,731.576817,882.894916,151.318099,1,Low,3 ans.,0.006840,0.699792,1,0,0
2,20.190457,0.039111,19641,741.218202,919.355522,178.137319,1,Low,3_ans,0.006179,0.632129,1,0,0
3,27.220131,0.041303,18728,654.255635,817.085097,162.829462,1,Low,3 anss,0.007925,0.810730,1,0,0
4,16.370911,0.037938,18722,703.094527,844.581465,141.486938,1,Medium,3ans.,0.007406,0.757614,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540,3,Medium,1 an,0.000973,0.513126,0,0,1
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380589,3,Low,1ans,0.001038,0.547739,0,0,1
1396,67.865222,0.228935,19169,62.132035,810.883148,55.434239,3,Low,1an.,0.001243,0.655622,0,0,1
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794197,3,Low,1 an,0.001644,0.867537,0,0,1
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216,3,Low,1an.,0.001022,0.538969,0,0,1

In [288]:
#Exo 6
df["warranty"].unique()

array(['3ans', '3 ans.', '3_ans', '3 anss', '3ans.', '3 ans', '3_ans.',
       '3_anss', '3anss', '2 ans', '2 anss', '2anss', '2_ans', '2ans',
       '2_ans.', '2 ans.', '2_anss', '2ans.', '1 an', '1an', '1_an.',
       '1ans', '1an.', '1_ans', '1_an', '1 an.', '1 ans'], dtype=object)

In [298]:
#Exo 7
df["warranty"].str[0].unique()

array(['3', '2', '1'], dtype=object)

In [300]:
#Exo 8
df["warranty"].str[0].unique()

array(['3', '2', '1'], dtype=object)

In [317]:
#Exo 9
for i in range (len(df)):
        if type(df.loc[i, 'price']) != str :
            if df.loc[i, 'price'] < 300 :
                df.loc[i, 'price'] = '0-300'
            elif df.loc[i, 'price'] > 300 and df.loc[i, 'price'] < 500 :
                df.loc[i, 'price'] = '301-500'
            else :
                df.loc[i, 'price'] = '501++'

df

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness,auto-portee,electrique,essence
0,10.492623,0.042528,18377,633.766584,501++,195.035519,1,Low,3ans,0.006360,0.650648,1,0,0
1,20.273730,0.037896,19363,731.576817,501++,151.318099,1,Low,3 ans.,0.006840,0.699792,1,0,0
2,20.190457,0.039111,19641,741.218202,501++,178.137319,1,Low,3_ans,0.006179,0.632129,1,0,0
3,27.220131,0.041303,18728,654.255635,501++,162.829462,1,Low,3 anss,0.007925,0.810730,1,0,0
4,16.370911,0.037938,18722,703.094527,501++,141.486938,1,Medium,3ans.,0.007406,0.757614,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,0-300,11.498540,3,Medium,1 an,0.000973,0.513126,0,0,1
1395,59.356058,0.253694,18663,64.014543,0-300,11.380589,3,Low,1ans,0.001038,0.547739,0,0,1
1396,67.865222,0.228935,19169,62.132035,501++,55.434239,3,Low,1an.,0.001243,0.655622,0,0,1
1397,66.855435,0.244948,18946,58.697122,0-300,9.794197,3,Low,1 an,0.001644,0.867537,0,0,1
1398,54.712713,0.177143,19017,64.259212,0-300,10.696216,3,Low,1an.,0.001022,0.538969,0,0,1

In [306]:
#Exo 10
df.loc[df["product_type"]=='auto-portee',"product_type"]=1
df.loc[df["product_type"]=='electrique',"product_type"]=2
df.loc[df["product_type"]=='essence',"product_type"]=3

df["product_type"].unique()

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.035519,1,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.318099,1,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.137319,1,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.829462,1,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.486938,1,Medium,3ans.,0.007406,0.757614
...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540,3,Medium,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380589,3,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,55.434239,3,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794197,3,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216,3,Low,1an.,0.001022,0.538969

In [309]:
#Exo 11
df.loc[df["product_type"]==1,"auto-portee"]=1
df.loc[df["product_type"]==2,"electrique"]=1
df.loc[df["product_type"]==3,"essence"]=1
df

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness,auto-portee,electrique,essence
0,10.492623,0.042528,18377,633.766584,828.802103,195.035519,1,Low,3ans,0.006360,0.650648,1,0,0
1,20.273730,0.037896,19363,731.576817,882.894916,151.318099,1,Low,3 ans.,0.006840,0.699792,1,0,0
2,20.190457,0.039111,19641,741.218202,919.355522,178.137319,1,Low,3_ans,0.006179,0.632129,1,0,0
3,27.220131,0.041303,18728,654.255635,817.085097,162.829462,1,Low,3 anss,0.007925,0.810730,1,0,0
4,16.370911,0.037938,18722,703.094527,844.581465,141.486938,1,Medium,3ans.,0.007406,0.757614,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540,3,Medium,1 an,0.000973,0.513126,0,0,1
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380589,3,Low,1ans,0.001038,0.547739,0,0,1
1396,67.865222,0.228935,19169,62.132035,810.883148,55.434239,3,Low,1an.,0.001243,0.655622,0,0,1
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794197,3,Low,1 an,0.001644,0.867537,0,0,1
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216,3,Low,1an.,0.001022,0.538969,0,0,1